
/* font-family: 'Roboto', sans-serif; */
*{
    margin: 0%;
}
header{}
.head{
    
display: flex;
    
justify-content: space-between;
    
width: 75%;
    
margin: 30px auto;
}
.head img{

}
.head a{
    
text-decoration: none;
}
.head h5{margin-top: 15px;color: #97999b;font-family: 'Roboto', sans-serif;font-weight: 400;}
.banner{height: 700px;width: 100%;position: relative;margin-bottom: 100px;}
.banner img{
height: 700px;
width: 100%;
}
.txt{

position: absolute;

right: 50%;

top: 50%;

transform: translate(50%, 0%);
}
.txt h1{

color: #ffffff;

text-align: center;

font-family: 'Roboto', sans-serif;

margin-bottom: 25px;

font-size: 40px;

font-weight: 500;
}
.txt h5{

color: #ffffff;

font-family: 'Roboto', sans-serif;

text-align: center;

margin-bottom: 50px;

font-size: 16px;

font-weight: 400;
}
.txt button{

color: white;

background: #fb6e52;

height: 42px;

width: 150px;

margin-left: 130px;

border-color: white;

font-family: 'Roboto', sans-serif;

border-radius: 10%;

font-weight: 300;
}
.c1{
    font-family: 'Roboto', sans-serif;
    display: flex;
    margin: 0px 150px;
    justify-content: space-evenly;
}
.l1{

text-align: center;

/* font-family: 'Roboto', sans-serif; */
}
.l1 a{

background: #fb6e52;

color: white;

font-size: 50px;

border: 25px solid #fb6e52;

border-radius: 50%;
}
.l1 i{

margin-bottom: 60px;
}
.l1 h1{

margin-bottom: 30px;

font-weight: 400;
}
.l1 p{
    
margin-bottom: 100px;
    
font-weight: 300;
}
.itlic{

text-align: center;

color: #fb6e52;

font-family: 'Roboto', sans-serif;

margin-bottom: 100px;
}
.itlic h1{

}
.itlic i{
    
font-weight: 300;
}
.c2{

width: 80%;

display: flex;

margin: auto;

justify-content: space-around;

font-family: 'Roboto', sans-serif;
}
.a3box{

margin-bottom: 100px;

width: 31%;
}
.a3box img{
    
width: 100%;
    
margin-bottom: 25px;
}
.a3box h1{

text-align: center;

margin-bottom: 15px;

font-weight: 400;
}
.a3box h5{

text-align: center;

font-weight: 300;
}
.c3{
    height: 915px;
    background: #f9f9f9;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}
.c3 h1{
    text-align: center;
    padding: 65px;
    font-weight: 400;
}
.flex{

width: 80%;

margin: auto;

display: flex;

justify-content: space-between;
}
.box2{

width: 48%;
}
.box2 img{

width: 100%;

margin-bottom: 35px;
}
.box2 h2{color: #fb6e52;margin FONT-VARIANT: JIS83;margin-bottom: 20px;font-weight: 400;}
.box2 p{

font-weight: 300;
}
footer{

display: flex;

justify-content: space-around;

height: 100px;

background: #292c34;

font-family: 'Roboto', sans-serif;
}
.botlogo{

padding: 30px;

width: 15%;
}
.botlogo ul{

list-style: none;

display: flex;

justify-content: space-evenly;

padding: 30px;
}
.botlogo ul li{

margin-left: -78px;

margin-right: 141px;
}
.botlogo img{margin-left: -120px;}
.botlogo a{

text-decoration: none;

color: #797c82;

padding: -7px;

position: absolute;

font-weight: 300;

margin: 0px 35px;

}
.logo{

margin-right: -105px;
}
.logo ul{

list-style: none;

display: flex;

padding: 41px;

margin-left: 29px;
}
.logo ul li{

margin-left: 44px;
}
.logo ul li a{

color: white;
}
